.css_header {
	color: blue;
}

.javascript_header {
	color: red;
}

.html_header {
	color: purple;
}

.vue_header {
	color: #42b983;
}

.card-header {
  border: none !important;
}
.card {
  border: none !important;
}

.card_hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
  transition: all .2s;
  transform: scale(1.01);
}

.card_hover {

  transition: all .2s;

}

@media screen and (max-width: 769px) {
	.card_hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
  transition: all .2s;
  transform: scale(1.01);
}
}


